<!DOCTYPE html>
<html>
<head>
    <title>Zadanie 3</title>
</head>
<body>
    {% for name in names %}
        <p>{{ name }}</p>
    {% else %}
        <p>Brak pobranych imion</p>
    {% endfor %}
</body>
</html>